:root {
  --blue: #78b7ff;
  --darkblue: #4890e2;
  --white: #fff;
  --black: #000;
  --error: #b50505;
  --gray: #e8f0fe;
  --darkgray: #cfd7e5;
  --green: #d4edda;
}

/*SignUp*/

.page {
  background-color: var(--blue);
  height: 100vh;
  display: flex;
}
.section {
  background-color: var(--gray);
  margin: 0 auto;
  width: 400px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
section .title {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  font-weight: bold;
  color: var(--black);
}
.form {
  margin-top: 30px;
  padding: 0 20px;
}
.form-container {
  margin-top: 20px;
}
.form-container input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}
.btn-container {
  margin: 30px 0px;
  text-align: center;
}
.btn {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--black);
  background-color: var(--blue);
  color: var(--white);
  transition: 0.3 ease-in-out all;
  font-size: 16px;
}
.btn:hover {
  transform: scale(1.05);
}
.goSignIn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.span {
  margin: 0 5px;
  text-decoration: none;
  color: var(--darkblue);
  border-bottom: 1px solid var(--darkblue);
}
.span:hover {
  transform: scale(1.05);
}
.error {
  color: var(--error);
  text-align: center;
  margin-top: 10px;
}

.forgot-password-link {
  text-decoration: none;
}

.forgot-password {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  color: var(--black);
  cursor: pointer;
}
.forgot-password:hover {
  color: var(--darkblue);
}
.check {
  color: green;
  text-align: center;
  margin-top: 10px;
}

/*Navbar*/

.navbar {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
}
#chat-hide {
  display: none;
}
.logo {
  color: var(--white);
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-buttons {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.hamburger-icon {
  display: none;
}

.logout {
  background-color: var(--white);
  margin-right: 10px;
  color: var(--blue);
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 2px solid var(--white);
  cursor: pointer;
}
.logout:hover {
  color: var(--white);
  background-color: var(--darkblue);
}
.profile-button {
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  color: var(--white);
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 10px;
}
.profile-button:hover {
  border: 1px solid var(--white);
  transition: 0.2s ease-in-out all;
}

/*Loading*/
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*ProfileNavbar*/

.profile-navbar {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  width: 100%;
}

.backtoHomelink {
  text-decoration: none;
  margin-right: 20px;
  color: var(--white);
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 10px;
}
.backtoHomelink:hover {
  border: 1px solid var(--white);
}

/*Profile*/

.profile-container {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  width: 700px;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 10px;
}
.img-container {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.img-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid var(--white);
}
.img-container:hover img {
  opacity: 0.4;
}
.img-container:hover .overlay {
  opacity: 1;
}
.overlay {
  transition: 0.5 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-container {
  flex-grow: 1;
}
.profile-name {
  text-align: center;
  margin: 15px auto;
}
.profile-email {
  text-align: center;
  margin: 15px auto;
}
.profile-date {
  text-align: center;
  margin-top: 15px;
}
.camera-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.error-div {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--error);
  width: 100%;
}
.error-msg {
  color: var(--white);
}

/*Error*/

.error-page {
  background-color: var(--blue);
  height: 100vh;
  position: relative;
}
.error-container {
  color: var(--white);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error-logo {
  margin: 50px;
  font-size: 100px;
  text-align: center;
}
.error-heading {
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
}
.error-homepage {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.span-error {
  text-decoration: none;
}
.span-error span {
  color: var(--error);
  border-bottom: 1px solid var(--error);
  text-decoration: none;
}

/*Home*/

.home-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - 65px);
  overflow: hidden;
  width: 100vw;
}
.users-container {
  /*margin-top: 10px;*/
  border-right: 2px solid var(--blue);
  overflow-y: auto;
}
.user-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-bar .user-status {
  margin-right: 5px;
}

/*User*/

.users-wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--gray);
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-detail {
  display: flex;
  align-items: center;
}
.username-tag {
  margin-left: 20px;
}
.selected-user {
  background-color: var(--darkgray);
}
.new-text {
  background-color: var(--darkblue);
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 85px;
}
.user-endpart {
  display: flex;
  align-items: center;
}
.count-msg {
  color: var(--white);
}
.selected-chat {
  display: none;
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid var(--blue);
}
.user-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: darkgreen;
}
.offline {
  background: rgb(153, 15, 15);
}
.messages-container {
  width: 100%;
  position: relative;
}
.messages-chat {
  padding: 20px;
  background-color: var(--gray);
  text-align: center;
  border-bottom: 2px solid var(--blue);
}
.no-chat {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
}
.lastMsg {
  font-size: 14px;
  white-space: nowrap;
  margin-left: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -10px;
}

/*MessageInput*/
.messages-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  min-width: 75vw;
  height: 40px;
}
.message-box {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.message-input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid var(--blue);
  margin-left: 5px;
  padding: 10px;
}
.message-input:focus {
  border: 2px solid var(--darkblue);

  outline: none;
}
.upload-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}
.btn-send-container {
  z-index: 100;
  height: 100%;
  background-color: var(--blue);
  border-left: none;
  border-radius: 0px;
  border: 1px solid var(--blue);
  padding-top: 5px;
}
.btn-send {
  min-width: 2.5vw;
  margin: 0;
  border: none;
  background: none;
}
/*Message*/

.messages {
  height: calc(100vh - 200px);
  overflow-y: auto;
  border-bottom: 1px solid var(--darkblue);
  padding-bottom: 5px;
  background-color: var(--white);
}
.message-wrapper {
  margin-top: 5px;
  padding: 0 5px;
}
.message-wrapper img {
  width: 100%;
  border-radius: 5px;
}
.message-wrapper p {
  max-width: 50%;
  padding: 10px;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
.message-wrapper.user1 {
  text-align: right;
}
.me {
  background-color: var(--blue);
  color: var(--white);
}
.contact {
  background-color: var(--darkblue);
  color: var(--white);
}
@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 3fr 0;
  }

  .messages-wrapper {
    left: 0;
    right: 0;
    bottom: 1px;
  }
  .message-wrapper p {
    max-width: 75%;
  }
  .message-input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid var(--blue);
    padding: 10px;
  }
  .message-input:focus {
    border: 2px solid var(--darkblue);
    outline: none;
  }

  .btn-send-container {
    z-index: 100;
    height: 100%;
    background-color: var(--blue);
    border-left: none;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--blue);
    padding-top: 5px;
    margin-right: 1px;
  }
  .btn-send {
    margin: 0;
    border: none;
    background: none;
  }
  .messages {
    height: calc(100vh - 200px);
    overflow-y: auto;
    border-bottom: 1px solid var(--darkblue);
    padding-bottom: 5px;
    background-color: var(--white);
  }
  .no-chat {
    display: none;
  }
  .navbar-buttons {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 65px;
    right: 0;
    width: 300px;
    background: var(--darkblue);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 100;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
  }

  .logout {
    background: none;
    margin-right: 0px;
    margin-left: 10px;
    color: var(--white);
    border-radius: 0px;
    padding: 10px;
    font-size: 18px;
    border: none;

    cursor: pointer;
  }
  .logout:hover {
    color: var(--white);
    transform: scale(1.1);
    background: inherit;
    border-radius: none;
    border: none;
  }

  .profile-button {
    text-decoration: none;
    margin-right: 0px;
    font-size: 18px;
    color: var(--white);
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: none;
  }
  .profile-button:hover {
    transform: scale(1.1);
    transition: none;
    border: none;
  }
  .active {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }

  /*Profile*/

  .profile-navbar {
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
  }

  .error-div {
    height: 65px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8d7da;
    width: 100%;
  }
  .error-msg {
    color: var(--white);
  }

  .backtoHomelink {
    text-decoration: none;
    margin-right: 20px;
    color: var(--white);
    border: 1px solid var(--blue);
    padding: 10px;
    border-radius: 10px;
  }
  .backtoHomelink:hover {
    border: 1px solid var(--white);
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;
    width: 75%;

    border-radius: 10px;
  }
  .img-container {
    position: relative;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .img-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--white);
  }
  .img-container:hover img {
    opacity: 0.4;
  }
  .img-container:hover .overlay {
    opacity: 1;
  }
  .overlay {
    transition: 0.5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-container {
    flex-grow: 1;
  }
  .profile-name {
    text-align: center;
    margin: 15px auto;
  }
  .profile-email {
    text-align: center;
    margin: 15px auto;
  }
  .profile-date {
    text-align: center;
    margin-top: 15px;
  }
  .camera-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .error-page {
    background-color: var(--blue);
    height: 100vh;
    position: relative;
  }
  .error-container {
    color: var(--white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .error-logo {
    margin: 50px;
    font-size: 90px;
    text-align: center;
  }
  .error-heading {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
  }
  .error-homepage {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }
  .span-error {
    text-decoration: none;
  }
  .span-error span {
    color: var(--error);
    border-bottom: 1px solid var(--error);
    text-decoration: none;
  }
}

@media screen and (max-width: 450px) {
  /*SignUp*/

  .page {
    background-color: var(--blue);
    height: 100vh;
    display: flex;
  }
  .section {
    background-color: var(--gray);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 550px;

    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  section .title {
    text-align: center;
    font-size: 20px;
    margin-top: 80px;
    font-weight: bold;
    color: var(--black);
  }
  .form {
    margin-top: 30px;
    padding: 0 20px;
  }
  .form-container {
    margin-top: 20px;
  }
  .form-container input {
    width: 100%;
    padding: 10px;
    outline: none;
    margin-top: 5px;
    border: 1px solid var(--blue);
    border-radius: 5px;
  }
  .btn-container {
    margin: 30px 0px;
    text-align: center;
  }
  .btn {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--black);
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3 ease-in-out all;
    font-size: 16px;
  }
  .btn:hover {
    transform: scale(1.05);
  }
  .goSignIn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .span {
    margin: 0 5px;
    text-decoration: none;
    color: var(--darkblue);
    border-bottom: 1px solid var(--darkblue);
  }
  .span:hover {
    transform: scale(1.05);
  }
  .error {
    color: var(--error);
    text-align: center;
    margin-top: 10px;
  }

  /*Error*/

  .error-page {
    background-color: var(--blue);
    height: 100vh;
    position: relative;
  }
  .error-container {
    color: var(--white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .error-logo {
    margin: 50px;
    font-size: 70px;
    text-align: center;
  }
  .error-heading {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }
  .error-homepage {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  .span-error {
    text-decoration: none;
  }
  .span-error span {
    color: var(--error);
    border-bottom: 1px solid var(--error);
    text-decoration: none;
  }
}

@media screen and (max-width: 400px) {
  .profile-navbar {
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
  }

  .backtoHomelink {
    text-decoration: none;
    margin-right: 20px;
    color: var(--white);
    border: 1px solid var(--blue);
    padding: 10px;
    border-radius: 10px;
  }
  .backtoHomelink:hover {
    border: 1px solid var(--white);
  }

  .profile-container {
    display: flex;

    align-items: center;
    background-color: var(--blue);
    height: 350px;
    margin: 0 auto;
    margin-top: 200px;
    width: 75%;

    border-radius: 10px;
  }
  .img-container {
    position: relative;
    margin-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .img-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--white);
  }
  .img-container:hover img {
    opacity: 0.4;
  }
  .img-container:hover .overlay {
    opacity: 1;
  }
  .overlay {
    transition: 0.5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-container {
    flex-grow: 1;
  }
  .profile-name {
    text-align: center;
    margin: 10px auto;
    font-size: 18.72px;
  }
  .profile-email {
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
  }
  .profile-date {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  .camera-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .navbar-buttons {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 65px;
    right: 0;
    width: 250px;
    background: var(--darkblue);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 100;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
  }

  .logout {
    background: none;
    margin-right: 0px;
    margin-left: 10px;
    color: var(--white);
    border-radius: 0px;
    padding: 10px;
    font-size: 18px;
    border: none;

    cursor: pointer;
  }
  .logout:hover {
    color: var(--white);
    transform: scale(1.1);
    background: inherit;
    border-radius: none;
    border: none;
  }

  .profile-button {
    text-decoration: none;
    margin-right: 0px;
    font-size: 18px;
    color: var(--white);
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: none;
  }
  .profile-button:hover {
    transform: scale(1.1);
    transition: none;
    border: none;
  }
  .active {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  /*Error*/

  .error-page {
    background-color: var(--blue);
    height: 100vh;
    position: relative;
  }
  .error-container {
    color: var(--white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .error-logo {
    margin: 50px;
    font-size: 70px;
    text-align: center;
  }
  .error-heading {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }
  .error-homepage {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  .span-error {
    text-decoration: none;
  }
  .span-error span {
    color: var(--error);
    border-bottom: 1px solid var(--error);
    text-decoration: none;
  }
}

@media screen and (max-width: 320px) {
  .profile-navbar {
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
  }

  .backtoHomelink {
    text-decoration: none;
    margin-right: 20px;
    color: var(--white);
    border: 1px solid var(--blue);
    padding: 10px;
    border-radius: 10px;
  }
  .backtoHomelink:hover {
    border: 1px solid var(--white);
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
    width: 75%;

    border-radius: 10px;
  }
  .img-container {
    position: relative;
    margin-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .img-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--white);
  }
  .img-container:hover img {
    opacity: 0.4;
  }
  .img-container:hover .overlay {
    opacity: 1;
  }
  .overlay {
    transition: 0.5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-container {
    flex-grow: 1;
  }
  .profile-name {
    text-align: center;
    margin: 10px auto;
    font-size: 18.72px;
  }
  .profile-email {
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
  }
  .profile-date {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  .camera-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  /*Error*/

  .error-page {
    background-color: var(--blue);
    height: 100vh;
    position: relative;
  }
  .error-container {
    color: var(--white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .error-logo {
    margin: 50px;
    font-size: 70px;
    text-align: center;
  }
  .error-heading {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }
  .error-homepage {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
  }
  .span-error {
    text-decoration: none;
  }
  .span-error span {
    color: var(--error);
    border-bottom: 1px solid var(--error);
    text-decoration: none;
  }
}
